extends layout

block content
    .container
        h1 Welcome to #{title}
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, tenetur. Quibusdam molestiae quae repellendus quos exercitationem id, voluptatibus aut magnam nulla molestias cum tempora repudiandae modi ducimus, minus officiis dolores.