extends layout

block content
    div.container
        .row
            .col-md-4.col-md-offset-4
                h1= sub_title
                ul.userlist
                    each user, i in users
                        li
                            a(href="mailto:#{user.email}")= user.username
                            span  - #{user.email}
                a(class="btn btn-success btn-block", href="/addNewUser") Add new user
