body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.icon-bar {
    background-color: #00b7ff;
}

.navbar {
    background-color: #eee;
}

.userlist {
    list-style-type: none;
    padding:0;
}

.userlist li {
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
}